body{
  padding: 0;
  margin: 0;
}

.inside{
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside ul{
  display: flex;
}

.inside li{
  list-style-type: none;
  padding: 10px;
  background-color: #eee;
  border-radius: 10px;
  margin: 10px;
}

.inside h1{
  padding-left: 15px;
}